.table th,
.table td{
    border: solid 1px black;
    padding: 8px;
    text-align: center;
}

.search{
    margin: 10px;

}
.button{
    background: black;
    color : white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px
}

.buttons{
    margin: 10px;
}

.edit{
    background-color: lightgreen;
    margin: 5px
}

.delete{
    background-color: lightpink;
}

label {
    margin-right: 10px;
}

.margbot{
    margin-bottom: 8px;
}