<div>
  <h2>Product table</h2>
  <div class="search">
    <form >
    <input type="text" placeholder="search" (keyup)="searchInput.next($any($event.target).value)" name="search" id="search" required>

  </form>
  </div>

  <div class="buttons">
    <button  class="button" type="submit" (click)="GetMostRecentProduct()">Get Most recent product</button>
    <button  class="button" type="submit" (click)="SortByRatingAsc()">SortRatingAsc</button>
    <button  class="button" type="submit" (click)="SortByRatingDesc()">SortRatingDesc</button>
    <button  class="button" type="submit" (click)="getAllProducts()">Get all products</button>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ratings</th>
        <th>CreatedOn</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.ratings}}</td>
        <td>{{product.createdOn | date}}</td>
        <td>
          <button (click)="toggleEditForm(product)" class="edit">edit</button>
          <button (click)="DeleteProduct(product.id)" class="delete">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="toggleProductForm()">Create product</button>

  <div *ngIf="showProductForm">
    <h2>Product form</h2>
    <form (ngSubmit)="createProduct()">
      <div class="margbot">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" [(ngModel)]="product.name" required>
      </div>
      <div class="margbot">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" [(ngModel)]="product.description" required>
      </div>
      <div class="margbot">
        <label for="ratings">Ratings</label>
        <input type="text" name="ratings" id="ratings" [(ngModel)]="ratingsInput" required>
      </div>
      <button type="submit" >Create Product</button>
    </form>
  </div>

  <div *ngIf="showEditForm && !showProductForm">
    <h2>Edit form</h2>
    <form (ngSubmit)="UpdateProduct(beingEdited)">
      <div class="margbot">
        <label for="name">Name</label>
        <input  type="text" name="name" id="name" [(ngModel)]="beingEdited.name" required>
      </div>
      <div class="margbot">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" [(ngModel)]="beingEdited.description" required>
      </div>
      <div class="margbot">
        <label for="ratings">Rating</label>
        <input type="text" name="ratings" id="ratings" [(ngModel)]="ratingsInput" required>
      </div>
      <button type="submit">Edit Product</button>
    </form>
  </div>
</div>

<hr style="height:5px; background: #000;">

<app-store></app-store>